h1 {
  padding: 30px;
  font-family: "Libre Baskerville", serif;
}
.cod {
  font-size: 24px;
}
.temp {
  padding: 30px;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  white-space: nowrap;
  width: 400px;
  border: 1px solid #000000;
  overflow: hidden;
  text-overflow: clip;
}

.search {
  position: fixed;
  left: 1100px;
}
.page {
  background: radial-gradient(
    592px at 48.2% 50%,
    rgba(255, 255, 249, 0.6) 0%,
    rgb(160, 199, 254) 74.6%
  );
}

.all {
  text-align: left;
  font-family: "Poppins", sans-serif;
  vertical-align: text-top;
  font-size: 18px;
  padding-left: 30px;
}
